@font-face {
  font-family: 'Julius Sans One';
  src: url(assets/fonts/JuliusSansOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Coming Soon';
  src: url(assets/fonts/ComingSoon-Regular.ttf) format('truetype');
}

Body {
    height: 100%;
    background-color: #568ea3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game{
    background-color: #68c3d4; 
    width: 900px;
   min-height: 100px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  h1{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 45px;
    color: #FFFFFF;
    font-style: italic;
  }

  img{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  p{
    font-family: 'Coming Soon', cursive;
    padding: 15px;
    font-size:20px ;
  }

  .chapitre{
    font-size: 25px;
  }

.bouton{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  
  
}

.choix{
  border-radius: 15px;
  background-color: #826251;
  padding: 10px;
  color: #FFE8D1;
  text-align:center;
}
.resets{
  border-radius: 15px;
  background-color: #826251;
  padding: 10px;
  color: #FFE8D1;
  text-align:center;
}
.chapitre34{
background-image:linear-gradient(#e787e7, #dba643); 

}

.chapitre34 .game {
  background-color: rgba(39, 149, 168, 0.4) ;
}
.chapitre26{
background-image: url('assets/img/main.png'),linear-gradient(#0e0e0e, #db4d43);

}
.chapitre26 .game {
  background-color: rgba(179, 43, 43, 0.95);
  box-shadow: 10px 10px 10px rgb(92, 8, 8);
}

.chapitre19{
  background-image:url('assets/img/colere.png'),radial-gradient(#ddadad, #3d0606); 
  
  }
  
  .chapitre19 .game {
    background-color: rgba(151, 40, 40, 0.95) ;
    box-shadow: 0 0 10px 10px rgb(73, 33, 33)
  }
  .chapitre19 h1{
    -webkit-text-stroke:1px rgb(255, 255, 255);
    color:black;
  }
  .chapitre3{
    background-image:linear-gradient(#451c74, #5387d4); 
    
    }
    
    .chapitre3 .game {
      background-color: rgba(6, 105, 122, 0.3) ;
    }